html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 60px;
}

.main-container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    margin-top: 60px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

img.ng-lazyloaded {
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}